<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>930361176480-5nbthsqcbf76hn0v1dcg5lo1of4v4csn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930361176480-5nbthsqcbf76hn0v1dcg5lo1of4v4csn</string>
	<key>API_KEY</key>
	<string>AIzaSyDc1MlG_Zd7wx6mzXWcdVf8qkfk6Gdyv_0</string>
	<key>GCM_SENDER_ID</key>
	<string>930361176480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Punkapi</string>
	<key>PROJECT_ID</key>
	<string>punkapi-cf29c</string>
	<key>STORAGE_BUCKET</key>
	<string>punkapi-cf29c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930361176480:ios:a17376908b2c4b54</string>
	<key>DATABASE_URL</key>
	<string>https://punkapi-cf29c.firebaseio.com</string>
</dict>
</plist>